@{

  Layout = "_Layout";
}

<h1>Eau Claire's Salon Management Application</h1>

<p class="link">@Html.ActionLink("Go to Stylist List", "Index", "Stylists")</p>
<p class="link">@Html.ActionLink("Go to Client List", "Index", "Clients")</p>